logististic regression is basicaly classification of items in either yes or no, using 1, 2 commonly reffered to as binary classification. 
Think about email classification,: spam/not spam etc.(categorical data)

Linear Regressions is basicall predictions of numbers and finding the outcome.(numerical)

we have supervised learning > machine learning >> articifcial intelligence >> comupter science

supervised learning is learninf from labeled data and it allows you to learn from data and give an award : classification and regression.

In [6]:
import matplotlib.pyplot as plt 
import pandas as pd

In [23]:
df = pd.read_csv("Titanic-Dataset.csv")
df.head()
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [24]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [25]:
# Total number of people who survived and didn't survive
print(df['Survived'].value_counts())

Survived
0    549
1    342
Name: count, dtype: int64

In [26]:

relevant_columns = ['Pclass', 'Age', 'SibSp', 'Fare', 'Sex', 'Embarked', 'Survived']

df = df[relevant_columns]

dummy_dataframe = pd.get_dummies(df, drop_first=True, dtype=float)


print(dummy_dataframe.shape)

(891, 8)

In [28]:
df = dummy_dataframe
df = df.dropna()

print(df.shape)

(714, 8)

In [31]:
y = df['Survived']
x = df.drop('Survived', axis=1)

In [32]:
import statsmodels.api as sm

#intercept
x = sm.add_constant(x)

#model

model = sm.Logit(y, x).fit()

Optimization terminated successfully.
         Current function value: 0.443267
         Iterations 6

In [33]:
print(model.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      706
Method:                           MLE   Df Model:                            7
Date:                Tue, 27 May 2025   Pseudo R-squ.:                  0.3437
Time:                        09:34:59   Log-Likelihood:                -316.49
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 1.103e-67
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.6503      0.633      8.921      0.000       4.409       6.892
Pclass        -1.2118      0.163     -7.433      0.000      -1.531      -0.892
Age           -0.0431      0.008     -5.250      0.000      -0.059      -0.027
SibSp         -0.3806      0.125     -3.048      0.002      -0.625      -0.136
Fare           0.0012      0.002      0.474      0.636      -0.004       0.006
Sex_male      -2.6236      0.217    -12.081      0.000      -3.049      -2.198
Embarked_Q    -0.8260      0.598     -1.381      0.167      -1.999       0.347
Embarked_S    -0.4130      0.269     -1.533      0.125      -0.941       0.115
==============================================================================

Based on the p-values, features like Sex_male, Fare, and Pclass are statistically significant, while SibSp and some Embarked values are not. We'll build a new model with only the significant ones.

In [35]:
# Select only significant features
x1 = df[['Sex_male', 'Fare', 'Pclass', 'Age']]  
x1 = sm.add_constant(x1)

# Fit model again
model_sig = sm.Logit(y, x1).fit()

# Summary
print(model_sig.summary())

Optimization terminated successfully.
         Current function value: 0.453242
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            4
Date:                Tue, 27 May 2025   Pseudo R-squ.:                  0.3290
Time:                        09:43:38   Log-Likelihood:                -323.61
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 2.020e-67
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.9880      0.572      8.717      0.000       3.867       6.110
Sex_male      -2.5182      0.208    -12.115      0.000      -2.926      -2.111
Fare           0.0005      0.002      0.246      0.805      -0.004       0.005
Pclass        -1.2697      0.159     -8.005      0.000      -1.581      -0.959
Age           -0.0367      0.008     -4.780      0.000      -0.052      -0.022
==============================================================================

The refined model with fewer features has similar explanatory power and is more interpretable. Removing non-significant features helped simplify the model and reduce noise.